{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/contact.css">
{% endblock %}

{% block body %}
    <h2 id="test"> Contact </h2>
<div id="container">
    <div id="cardLinkedin" class="card bg-light mb-3" style="max-width: 20rem;">
        <div id="headLinkedin" class="card-header">
            <div id="logoLinkedin">
            </div>
        </div>
        <div class="card-body">
            <h4 id="linkedinTitle" class="card-title">Linkedin</h4>
            <p class="card-text">@Anatole Massicot</p>
        </div>
    </div>
    <div id="cardMail" class="card bg-light mb-3" style="max-width: 20rem;">
        <div id="headMail" class="card-header">
            <div id="logoMail">
            </div>
        </div>
        <div class="card-body">
            <h4 id="mailTitle" class="card-title">Mail</h4>
            <p  id="mailText" class="card-text">an.massicot@gmail.com</p>
        </div>
    </div>
    <div id="cardTel" class="card bg-light mb-3" style="max-width: 20rem;">
        <div id="headTel" class="card-header">
            <div id="logoTel">
            </div>
        </div>
        <div id="bodyTel" class="card-body">
            <h4 id="telTitle" class="card-title">Téléphone</h4>
            <p class="card-text">06 75 35 02 83</p>
        </div>
    </div>
</div>
<h4 id="secondTitle"> Laissez moi un message ou un commentaire : </h4>
<form action="" method="post">
    <label>(obligatoire)</label>
    <input class="form-control" type="text" placeholder="Nom" required>
    <label>(obligatoire)</label>
    <input class="form-control" type="email" placeholder="Mail" required>
    <label></label> 
    <input class="form-control" type="text" placeholder="Objet">
    <label>(obligatoire)</label>
    <textarea class="form-control" rows="15" resize="none" placeholder="Votre message...">
    </textarea>
    <button type="submit" class="btn btn-success">Envoyer</button>
    </form>

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
{% endblock %}
{% endblock %}