{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/loisirs.css"/> 
{% endblock %}

{% block body %} 
    <h2> Mes loisirs </h2>
    <div>
        <video controls width="800">
            <source src="" type="video/mp4">
            <div class="alert alert-danger">
                Désoler, votre navigateur ne supporte pas cette vidéo.
            </div>
        </video>
    </div>
{% endblock %}  
