.progress {
    width : 30%;
    border-radius : 3px;
}

h6 {
    margin-top : 45px;
}

h2 {
    margin-top : 40px;
}

#cv {
    color : white;
    font-size : 10px;
}

footer {
        margin-top : 300px;
        position : fixed;
        bottom : 0;
        left : 0;
        right : 0;
}

#cv:hover {
    text-decoration: none;
    color: rgb(150,150,150);
}

footer img {
    width : 30px;
    margin-left : 10px;
}

#description {
    margin-top : 20px;
}